/* INDIVIDUAL subtype */
.foreign .i-user:before {
    content: "\e008" !important;
}

/* gender */
.MALE.i-user:before,
.MALE .i-user:before {
    content: "\e600" !important;
}
.FEMALE.i-user:before,
.FEMALE .i-user:before {
    content: "\e006" !important;
}

/* help */
.i-help-xxx {
    position: relative;
    font-size: 30px;
    line-height: 1;
}
.i-help-xxx:before {
	content: "\e610";
}
.i-help-xxx:after {
    position: absolute;
    content: "?";
    left: 10px;
    top: 4px;
    font-size: 16px;
    font-family: Arial;
    font-weight: bold;
}
